* {
    background-color: #e3e2e2;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button {
    width: 70px;
    height: 30px;
    border-radius: 5%;
    background-color: #2cd031;
    margin-top: 15px;
}



.container {
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #3a3939;
    margin-left: 50px;
    margin-top: 50px;
    width: 260px;
}

.input {
    width: 160px;
    height: 30px;
    border: #3a3939 1px solid;
    border-radius: 3px;
}